<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
   
    <section>
        <div class="inicio">
            <img src="../../assets/img/img2.png" alt="Imagem 1" id="img1">

                <div class="paragrafos">
                <p id="p1"> Mantenha-se </p>
                <p id="p2"> SEMPRE CONECTADO </p>
                <p id="p3"> com os <span>PlayHub</span></p>
        </div>
        <button id="convite" (click)="saibaMais()">Saiba Mais</button>
        </div>
    </section>

    <section class="sobre">
        <h2>Revivendo Clássicos: Explorando a Nostalgia dos Jogos</h2>
        <p>
            Bem-vindo à <strong>PlayHub</strong>. Somos uma plataforma dedicada <br>a trazer de volta os jogos clássicos que marcaram época, <br>oferecendo uma experiência única para os amantes de jogos <br>clássicos. <br>
            Na PlauHub, celebramos a rica história dos videogames, desde <br>os icônicos dos anos 90 e 2000 até hoje, cada título que <br>oferecemos é cuidadosamente selecionado para garantir que <br>os aficionados por jogos reelembre os melhores anos de jogos
        </p>
        <img src="../../assets/img/img3.jpg" alt="Refeência ao Mario" id="img3">
    </section>

    <section class="sobre">
        <p id="p4"> Além de simplesmente vender jogos, estamos comprometidos <br>em oferecer uma experiência de compra impecável. Nosso site <br> é intuitivo e fácil de navegar, proporcionando uma plataforma <br>segura para adquirir suas relíquias digitais. Nossa equipe <br>está sempre pronta para ajudar, seja para recomendar títulos que combinem com suas lembranças de infância ou para resolver qualquer dúvida técnica que você possa ter.
        Junte-se a nós nesta jornada emocionante através do passado dos videogames. <br>Estamos ansiosos para ser parte da sua história de jogo retro favorita! </p>
        <img src="../../assets/img/img4.webp" alt="Referência a GTA" id="img4">
    </section>

    <section class="jogos">
        <h2>Nossos Clássicos</h2>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/superMario.jpg" class="card-img-top" alt="superMario">
            <div class="card-body">
              <h5 class="card-title">SuperMario</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn-btn-primary">Saiba Mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/bomberman.jpg" class="card-img-top" alt="bomberman">
            <div class="card-body">
              <h5 class="card-title">Bomberman</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn-btn-primary">Saiba Mais</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/gta.jpg" class="card-img-top" alt="GTA">
            <div class="card-body">
              <h5 class="card-title">GTA SanAndreas</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn-btn-primary">Saiba Mais</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/freefire.jpg" class="card-img-top" alt="freefire">
            <div class="card-body">
              <h5 class="card-title">FreeFire</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn-btn-primary">Saiba Mais</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/mortalKombat.webp" class="card-img-top" alt="mortalKombat">
            <div class="card-body">
              <h5 class="card-title">MortalKombat</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn-btn-primary">Saiba Mais</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/counterstaike.jpg" class="card-img-top" alt="counterstaike">
            <div class="card-body">
              <h5 class="card-title">CounterStaike</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn-btn-primary">Saiba Mais</a>
            </div>
          </div>
    </section>

    <footer>
      <img id="img_footer" src="../../assets/img/logo.png" alt="Logo">
      <p id="pfooter">PlayHub</p>
      <ul id="footer">
          <li class="li_footer">Contatos: </li>
          <li class="li_footer">Email: laisaa275@gmail.com</li>
          <li class="li_footer">GitHub: https://github.com/LaisaAlb</li>
      </ul>
    </footer>

</body>
</html>

