<main>

  <section>
    <div class="inicio">
        <img src="../../assets/img/banner1.png" alt="Imagem 1" id="img1">

            <div class="paragrafos">
            <p id="p1"> Mantenha-se </p>
            <p id="p2"> SEMPRE CONECTADO </p>
            <p id="p3"> com os <span>PlayHub</span></p>
    </div>
    <button id="convite" (click)="saibaMais()">Saiba Mais</button>
    </div>
</section>

<section class="sobre">
    <h2>Revivendo Clássicos: Explorando a Nostalgia dos Jogos</h2>
    <p>
        Bem-vindo à <strong>PlayHub</strong>. Somos uma plataforma dedicada <br>a trazer de volta os jogos clássicos que marcaram época, <br>oferecendo uma experiência única para os amantes de jogos <br>clássicos. <br>
        Na PlauHub, celebramos a rica história dos videogames, desde <br>os icônicos dos anos 90 e 2000 até hoje, cada título que <br>oferecemos é cuidadosamente selecionado para garantir que <br>os aficionados por jogos reelembre os melhores anos de jogos
    </p>
    <img src="../../assets/img/banner2.jpg" alt="Refeência ao Mario" id="img3">
</section>

<section class="sobre">
    <p id="p4"> Além de simplesmente vender jogos, estamos comprometidos <br>em oferecer uma experiência de compra impecável. Nosso site <br> é intuitivo e fácil de navegar, proporcionando uma plataforma <br>segura para adquirir suas relíquias digitais. Nossa equipe <br>está sempre pronta para ajudar, seja para recomendar títulos que combinem com suas lembranças de infância ou para resolver qualquer dúvida técnica que você possa ter.
    Junte-se a nós nesta jornada emocionante através do passado dos videogames. <br>Estamos ansiosos para ser parte da sua história de jogo retro favorita! </p>
    <img src="../../assets/img/baanner3.webp" alt="Referência a GTA" id="img4">
</section>

  <h2 id="mat-cardh2">Jogos em Promoção</h2>
  <mat-grid-list cols="3">
      <mat-grid-tile>
          <mat-card class="example-card">
              <img mat-card-image src="../../assets/img/jogo1.jpg" alt="Jogo 1">
      
              <mat-card-header>
                <mat-card-title >Bomber Man</mat-card-title>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  Clássico jogo de labirinto e estratégia
                </p>
              </mat-card-content>
              <mat-card-actions>
                <p>R$ 100,00</p>
                <button mat-button>Comprar</button>
              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
              <img mat-card-image src="../../assets/img/jogo2.jpg" alt="Jogo 2">
      
              <mat-card-header>
                <mat-card-title>Super Mario</mat-card-title>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  O icônico jogo de plataforma e aventura.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <p>R$ 200,00</p>
                <button mat-button>Comprar</button>
              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
              <img mat-card-image src="../../assets/img/jogo3.jpg" alt="Jogo 3">
      
              <mat-card-header>
                <mat-card-title>Couter Strike</mat-card-title>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  Jogo de tiro estratégico em equipes
                </p>
              </mat-card-content>
              <mat-card-actions>
                <p>R$ 150,00</p>
                <button mat-button>Comprar</button>
              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</main>